.btn-primary{
  background:#6366f1;
  border:none;
  padding:12px;
  border-radius:8px;
  color:white;
  width:100%;
  margin-top:10px;
}

.btn-danger{
  background:#ef4444;
  border:none;
  padding:12px;
  color:white;
  border-radius:8px;
}

.sos{
  position:fixed;
  bottom:30px;
  right:30px;
  width:70px;
  height:70px;
  border-radius:50%;
  font-weight:bold;
}
