.sidebar{
  width:220px;
  background:#020617;
  padding:20px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.sidebar a{
  color:white;
  text-decoration:none;
}

.sidebar a.active{
  color:#6366f1;
}
