:root {
  --bg:#0f172a;
  --card:rgba(255,255,255,0.05);
  --text:white;
}

body{
  margin:0;
  font-family:Poppins;
  background:linear-gradient(135deg,#0f172a,#1e293b);
  color:var(--text);
}

.glass{
  background:var(--card);
  backdrop-filter:blur(15px);
  border-radius:16px;
  padding:25px;
}

.layout{
  display:flex;
  min-height:100vh;
}

.content{
  flex:1;
  padding:30px;
}

.center-screen{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.auth-card{
  width:300px;
}

.card-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  margin-top:30px;
}

.feature-card{
  background:#1e293b;
  padding:25px;
  border-radius:12px;
  cursor:pointer;
  transition:0.3s;
}

.feature-card:hover{
  background:#2563eb;
}
